{% extends 'news/base.html' %}
{% load static %}

{% block title %}<title>Foydalanuvchi parolini tiklash</title>{% endblock title %}
{% block content %}

  <h1>Parolni tiklash!</h1>
  <p>Yangi parol kiriting</p>

    {% if validlink %}

        <form method="post">{% csrf_token %}
            {{ form.as_p }}
          <button type="submit" > Parolni almashtirish</a></button>
        </form>
    {% else %}
        <p>Parollar mos tushmayapti, iltimos 2ta birxil parol kiriting</p>
    {% endif %}

{% endblock content %}